@font-face {
  font-family: 'PressStart2P';
  src: url('./fonts/PressStart2P.woff');
  font-style: normal;
}

textarea,
input,
button,
select {
  font-family: inherit;
  font-size: inherit;
}

*:focus {
  outline: none;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'PressStart2P', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 12px;
}

.app-body-form {
  display: block;
  text-align: left;
  padding: 10px;
}


#board {
  display: grid;
}


#checkerboard {
  display: grid;
}

.item {
  border: 1px solid #e5e4e9;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s all;
  position: relative;
}

.full-squares {
  width: 100%;
  height: 100%;
  background: #b1b1b1;
  cursor: pointer;
}

.item:hover {
  background: #e2e2e2;
}

.err-span {
  color: red;
  font-size: 12px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.grid-item-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  cursor: auto;
}

.number-hover:hover {
  transition: .3s all;
  background: #f1f1f1;
  cursor: pointer;
}

.iconzhadan {
  font-size: 20px
}

.iconhighest{
  color: red;
  text-shadow: 0 10px 7px #000;
  font-size: 15px;
  display: block;
  margin-top: 3px;
}

/* style of 'customizeBoardForm' component */
#customize-board-form {
  margin-bottom: 10px;
  height: 140px;
}

#customize-board-form input {
  border: none;
  margin-bottom: 10px;
}

#customize-board-form button, .gameButton{
  padding: 10px;
  border-radius: 7px;
  box-shadow: 0 5px 0 #ccc;
  transition: .3s all;
  cursor: pointer;
}

#customize-board-form button:hover, .gameButton:hover {
  box-shadow: 0 1px 0 #ccc;
  margin-top: 10px;
  background: #f2f2f2;
}

/* gameover component */
.gameover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(251, 255, 27, 0.5);
  flex-direction: column;
}

.gameover .title {
  font-size: 30px;
  color: red;
  text-shadow: 0 0 1px #000;
  opacity:0.8;
}

.gameover>div{
  margin-bottom: 20px;
}